<form method="POST" action="login" >
	<div class="grid-container">
		<div class="grid-y grid-padding-x">
			<div class="medium-6 cell">
				<label>Username:</label>
				<input type="text" name="username"/>
			</div>
			<div class="medium-6 cell">
				<label>Password:</label>
				<input type="password" name="password"/>
			</div>
			<div class="medium-6 cell">
				<input type="submit" value="Log In"/>
			</div>
		</div>
	</div>
</form>